* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

table {
    margin: 2rem auto;

    border: 1px solid black;

    border-collapse: collapse;

    width: 800px;
}

table caption {
    font-size: 1.5rem;
    color: royalblue;
    
    padding: .5rem;

}

table thead tr th{
    background-color: royalblue;
    color: white;
    font-weight: 500;

    padding: 1rem;

    border: 1px solid black;
}


table tbody tr td {
    border: 1px solid black;

    padding: 1rem;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:last-child {
    border-bottom: 10px solid royalblue;
}

tbody tr:hover {
    font-weight: 900;
    color: rgb(42, 98, 172);
    cursor: pointer;
}

table tfoot tr td {
    padding: 1rem;
    text-align: center;
    font-weight: 700;
}